<section>
  <div
    class="grid items-center max-w-screen-xl mx-auto lg:gap-8 xl:gap-0 lg:py-8 lg:grid-cols-12 mb-3"
    style="margin-bottom: -50px"
  >
    <div class="mr-auto place-self-center lg:col-span-7">
      <img
        style="width: 361px; height: 361px; border-radius: 180.5px"
        src="https://placehold.co/361x361"
      />
      <img
        style="width: 323px; height: 323px; border-radius: 161.5px"
        src="https://placehold.co/323x323"
      />
      <div
        style="
          position: absolute;
          width: 437.22px;
          height: 434.44px;
          transform: rotate(-139deg);
          transform-origin: top left;
          background: white;
          border-radius: 9999px;
        "
      ></div>
    </div>
    <div class="hidden lg:col-span-5 lg:flex lg:items-center">
      <img src="assets/images/logo.png" alt="shoSupply Logo" />
    </div>
  </div>

  <div class="mb-0">
    <app-slider></app-slider>
  </div>
</section>

<section class="pt-20">
  <div class="container mt-5">
    <h1 class="heading">Who Are We?</h1>
    <p class="description">
      We're an agency that supports all performing arts camps, schools and
      institutions with their staffing and are proud to work with some of the
      very best performers that the UK have to offer. Using our knowledge and
      expertise, we’re able to match the right teacher to the right school every
      time, ensuring smiles all round!
    </p>
  </div>
</section>
