<div class="ticker-container">
  <div class="ticker-overflow-container">
    <div class="skillTicker">
      <span class="label">OUR SPECIALITIES:</span>
      <div class="ticker-wrapper">
        <ul class="ticker-list pt-3">
          <li>DANCE</li>
          <li>TAP</li>
          <li>BALLET</li>
          <li>SINGING</li>
          <li>MUSICAL THEATRE</li>
          <li>ACTING</li>
          <li>DANCE</li>
          <li>TAP</li>
          <li>BALLET</li>
          <li>SINGING</li>
          <li>MUSICAL THEATRE</li>
          <li>ACTING</li>
        </ul>
      </div>
    </div>
  </div>
</div>
