<div class="min-h-screen px-4 py-8">
  <!-- Title -->
  <div class="title mb-8 text-center">
    <h2 class="text-white text-xl font-semibold pt-5">
      Due to our wide range of talented teachers, we are able to provide
      Workshops from a wide range of shows. <br />these workshops are perfect
      for holidays, as cover or end of term treat. <br />
      below you will be able to see which workshops we can offer, which
      performer will be able to deliver the workshop and in which discipline. <br> please contact us by email, phone or on our contact page for a quote.
    </h2>
  </div>

  <section >
    
    <div class="team-profile">
      <!-- Profile Images -->
      <div #profileImageContainer class="profile-images">
        <div
          class="img rounded-4xl"
          #profileImage
          *ngFor="let workshop of workshops; let i = index"
          (click)="onWorkshopClick(i, $event)"
        >
          <img [src]="workshop.image" [alt]="workshop.name + ' Headshot'" />
        </div>
      </div>
      <!-- Profile Names -->
      <div class="profile-names">
        <!-- Default heading -->
        <div #name class="name default active items-center">
          <h1 #nameHeading>Our Workshops</h1>
        </div>

        <!-- Teacher names from JSON -->
        <div *ngFor="let workshop of workshops" #name class="name">
          <h1 #nameHeading>{{ workshop.name }}</h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Info Popup -->
  <div
    *ngIf="selectedWorkshop"
    class="info-popup"
    (click)="$event.stopPropagation()"
  >
    <button (click)="closePopup()">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <img [src]="selectedWorkshop.image" alt="{{ selectedWorkshop.name }}" />
    <h3>{{ selectedWorkshop.name }}</h3>
    <p>{{ selectedWorkshop.bio }}</p>
  </div>
</div>
