a {
    text-decoration: none;
}

a:hover {
    color: aqua;
}

.animate-in {
  animation: slide-fade 1s ease-out forwards;
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}