<footer
  class="bg-primary bg-opacity-50 items-center text-center mt-3 text-lg-start text-white"
>
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row my-4">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <div
          class="rounded-circle shadow-1-strong d-flex align-items-center justify-content-center mb-1 mx-auto"
          style="width: 200px; height: 150px"
        >
          <img
            src="assets/images/shosupply-base.png"
            height="70"
            alt=""
            loading="lazy"
          />
        </div>

        <p class="text-center">Teaching agency for performing arts schools</p>

        <ul class="list-unstyled d-flex flex-row justify-content-center">
          <li>
            <a class="text-white px-2" href="#!">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a
              class="text-white px-2"
              href="https://www.instagram.com/sho_supply/"
              target="_blank"
            >
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Our Links</h5>

        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#" class="text-white"
              ><i class="fa-solid fa-star"></i>Home</a
            >
          </li>
          <li class="mb-2">
            <a [routerLink]="['/About-Us']" class="text-white"
              ><i class="fa-solid fa-star"></i>About Us</a
            >
          </li>
          <li class="mb-2">
            <a [routerLink]="['/Teachers']" class="text-white"
              ><i class="fa-solid fa-star"></i>Our Teachers</a
            >
          </li>
          <li class="mb-2">
            <a [routerLink]="['/Workshops']" class="text-white"
              ><i class="fa-solid fa-star"></i>Our Workshops</a
            >
          </li>
          <li class="mb-2">
            <a [routerLink]="['/Contact-Us']" class="text-white"
              ><i class="fa-solid fa-star"></i>Contact Us</a
            >
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <p><i class="fas fa-phone pe-2"></i>0121 517 1815</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope pe-2 mb-0"></i
              >info&#64;shoSupply.co.uk
            </p>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2025 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">shoSupply</a>
  </div>
  <!-- Copyright -->
</footer>
