* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position: relative;
  width: 100vw;

  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
  overflow-x: auto;
}

.team-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
}

.profile-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 15px; 
}


.description {
  font-size: 1.5rem;
  line-height: 1.6;
  color: white;
  width: 50vw;
}

.img {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 5px;
  cursor: pointer;
  will-change: width, height;
  transition: all 0.3s ease;
}

.profile-names {
  width: 100%;
  min-height: 10rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
  position: relative;
}

.name h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: clamp(2.5rem, 15vw, 8rem);
  font-weight: 900;
  letter-spacing: -0.3rem;
  line-height: 1;
  color: white;
  user-select: none;
}

.name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.name.active {
  opacity: 1;
  pointer-events: auto;
}

.name.default h1 {
  color: white;
}

.name h1 .letter {
  position: relative;
  transform: translateY(100%);
  will-change: transform;
}

.name.active h1 .letter {
  transform: translateY(0%);
}

section {
  height: 60vh;
}

.info-popup {
  position: fixed;
  align-items: center;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(228, 228, 228, 0.8);
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 1em;
  width: 25vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.info-popup img {
  width: 100%;
  border-radius: 4px;
}

.info-popup h3 {
  margin-top: 0.5em;
  font-weight: 700;
  font-size: large;
}

.info-popup p {
  font-size: 0.9em;
  font-weight: 500;
  color: #444;
}

@media (max-width: 900px) {
  section {
    flex-direction: column;
  }

  .profile-images {
    flex-wrap: wrap;
    max-width: 95%;
    justify-content: center;
  }

  .description {
  width: 80vw;
}

section {
  height: 100vh;
}


  .img {
    width: 100px;
    height: 100px;
    padding: 2.5px;
    max-width: 100%;
  }

  .name h1 {
    font-size: 2rem;
    letter-spacing: 2px;
  }

  .profile-names {
    height: 10rem;
  }

  .info-popup {
    width: 50%;
  }
}
