<div class="min-h-screen">
   <section>
      <div class="team-profile">
        <div #profileImageContainer class="profile-images">
          <div #profileImage class="img">
            <img src="../assets/images/Avatar-Image.png" alt="Team member 1" />
          </div>
          <div #profileImage class="img">
            <img src="../assets/images/Avatar-Image2.png" alt="Team member 2" />
          </div>
          <div #profileImage class="img">
            <img src="../assets/images/Avatar-Image3.png" alt="Team member 3" />
          </div>
          <div #profileImage class="img">
            <img src="../assets/images/Avatar-Image4.png" alt="Team member 4" />
          </div>
        </div>
    
        <div class="profile-names">
          <div #name class="name default active"><h1 #nameHeading>Our Team</h1></div>
          <div #name class="name"><h1 #nameHeading>Michael</h1></div>
          <div #name class="name"><h1 #nameHeading>Jenny</h1></div>
          <div #name class="name"><h1 #nameHeading>Sandy</h1></div>
          <div #name class="name"><h1 #nameHeading>George</h1></div>
        </div>
      </div>
    </section>    
</div>
