<div class="min-h-screen">
  <section>
    <div class="team-profile">
      <!-- Profile Images -->
      <div #profileImageContainer class="profile-images">
        <div
          class="img rounded-4xl"
          #profileImage
          *ngFor="let teacher of teachers; let i = index"
          (click)="onTeacherClick(i, $event)"
        >
          <img [src]="teacher.image" [alt]="teacher.name + ' Headshot'" />
        </div>
      </div>
      <!-- Profile Names -->
      <div class="profile-names">
        <!-- Default heading -->
        <div #name class="name default active items-center">
          <h1 #nameHeading>Our Team</h1>
        </div>

        <!-- Teacher names from JSON -->
        <div *ngFor="let teacher of teachers" #name class="name">
          <h1 #nameHeading>{{ teacher.name }}</h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Info Popup -->
  <div
    *ngIf="selectedTeacher"
    class="info-popup"
    (click)="$event.stopPropagation()"
  >
    <button (click)="closePopup()">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <img [src]="selectedTeacher.image" alt="{{ selectedTeacher.name }}" />
    <h3>{{ selectedTeacher.name }}</h3>
    <p>{{ selectedTeacher.bio }}</p>
  </div>
</div>
