.nav-button {
  display: block;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.125rem;
  color:rgb(241, 241, 241);
}

.nav-button:hover {
  color: black;
}
